.sidebar {
  width: 240px;
  background: #0b3b74;
  height: 100vh;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 14px 0;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

.sidebar-menu li a:hover {
  color: #ffdd57;
  margin-left: 5px;
}

.sidebar-section {
  margin-top: 25px;
  font-size: 13px;
  opacity: 0.6;
  text-transform: uppercase;
}

/* LOGOUT */
.logout-btn {
  margin-top: 30px;
}

.logout-button {
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.logout-button:hover {
  background: #c62828;
}
