.sos-wrapper {
  background: linear-gradient(135deg, #204070, #305c90);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.sos-card {
  background: white;
  text-align: center;
  padding: 35px;
  width: 420px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.sos-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.sos-subtext {
  color: #444;
  margin-bottom: 20px;
  font-size: 15px;
}

.sos-button {
  background: #d62828;
  color: white;
  padding: 18px 0;
  width: 100%;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.sos-button:hover {
  background: #b51f1f;
}

.sos-warning {
  margin-top: 15px;
  font-size: 14px;
  color: #b53a3a;
}

/* POPUP */
.popup-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: white;
  padding: 25px;
  width: 340px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 18px rgba(0,0,0,0.3);
}

.popup-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.btn-cancel {
  background: #444;
  padding: 10px 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-confirm {
  background: #d62828;
  padding: 10px 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
