.splash-container {
  background: linear-gradient(135deg, #204070, #305c90);
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-content {
  text-align: center;
  color: white;
}

.splash-logo {
  width: 110px;
  margin-bottom: 20px;
}

.splash-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* Loader Animation */
.loader {
  border: 4px solid white;
  border-top: 4px solid transparent;
  width: 45px;
  height: 45px;
  margin: auto;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
