.sos-wrapper {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  background: #eef3ff;
  min-height: 100vh;
}

.sos-card {
  width: 650px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.18);
  text-align: center;
}

.sos-card h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.sub {
  color: #555;
  margin-bottom: 20px;
}

.map-box {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.time {
  margin-top: 18px;
  color: #333;
  font-size: 15px;
}

