.nav-bar {
  width: 100%;
  background: #0a3678;
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.nav-right a {
  color: white;
  margin-left: 22px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-right a:hover {
  color: #ffd369;
}

.logout-btn {
  background: #ff3b30;
  padding: 6px 14px;
  border-radius: 6px;
}

.logout-btn:hover {
  background: #c62828;
}


.nav-noti {
  position: relative;
}

.badge {
  background: #d62828;
  color: white;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 10px;
  margin-left: 6px;
}
