.safety-wrapper {
  max-width: 420px;
  margin: 140px auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 30px 20px;
  border-radius: 18px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* ICON */
.shield-icon {
  font-size: 42px;
  background: #ffe7d1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff7b00;
}

/* TIMER */
.countdown {
  font-size: 38px;
  font-weight: 700;
  margin: 20px 0;
  color: #ff8a00;
}

/* SAFE BUTTON */
.safe-btn {
  width: 85%;
  padding: 14px;
  margin-top: 20px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.safe-btn:hover {
  background: #17a44a;
}

/* WARNING */
.warn {
  color: #6b7280;
  font-size: 14px;
  margin-top: 10px;
}
